## Conditional Execution helps to route your program execution to different paths

### If, elif, else

#### Here order matters so observe your ordering of condition

In [6]:
a=10
if(a==10):
    print("If executed")

If executed

In [10]:
if(a==10):
    pass#just go on
    print(10)
if(a==10):
    print(10)

10
10

In [19]:
if(a==7):# if should be there but elif and else are optional and else should not have condition
    print(7)
elif(a==8):
    print(8)
elif(a==1):
    print(10)

In [21]:
l=[1,2,3,4]
if 2 in l:
    print('2 is available')#since this is true further condition following 
    #conditon that belongs to this if will not run
elif 3 in l:#This will not run
    print(' 3 is available')
if 4 in l:#Since it is different if it will work
    print('4 is available')

2 is available
4 is available

In [23]:
in1=int(input("Enter a input"))#Default is str so have to convert to int
if in1 in l:
    print(f'{in1} is present in the list!')#PEP 498 introduce the literal string interpolation to 
    #Simplify the expression evaluation inside print statement.

Enter a input2
2 is present in the list!

In [24]:
s='String'
if s=='string' or s=='String':
    print('You entered String')
else:
    print('Printed somthing else')

You entered String

## For loop

### _ meaning in different scenarios

In [27]:
for _ in range(10): #Used as do nothing variable
    print('Hello',_)
print(_)

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
9

In [1]:
# If I use _var in one module then if I import that module inside another than it will not import 
#_var because it is treated as weak variable
#__var if i use double __ then it is treated as private variable we can't access it outside the class
#var_ if i use like this it is mainly used to have variable that has same name as keywords

In [2]:
for i in [1,2,3]:
    print(i)
print(i)#holds last value

1
2
3
3

### For-Else-Break

#### Else block executes only after for loop completely iterates

In [8]:
for i in [2,4,6,8]:
    if(i==2):#change that to any other value.
        print('Yes I found the element')
        break#if there is no break than else also prints
else:
    print('I did not found the element!')

Yes I found the element

In [9]:
l=[1,2,3,4,5]
t=(34,45,56,67)
s={3,3,3,35,4,23,78,78}
d={'name':'Prasanna','age':'23','Education':'B.E'}

In [10]:
for i in l:
    print(i)

1
2
3
4
5

In [11]:
for i in t:
    print(i)

34
45
56
67

In [14]:
for i in s:
    print(i)

3
35
4
23
78

In [16]:
for i in d:
    print(i) #give list of keys

name
age
Education

In [17]:
for i in d:
    print(i ,':',d[i])

name : Prasanna
age : 23
Education : B.E

### Printing patterns

In [21]:
for i in range(4):
    for j in range(0,i+1):
        print('*',end=' ')
    print(end='\n')

*
* *
* * *
* * * *

In [23]:
for i in range(4):
    for j in range(1,i+1):
        print(j*'*',end=" ")
    print(end='\n')

*
* **
* ** ***

In [24]:
for i in range(4):
    s=4-i
    print(s*" ",end=' ')
    for j in range(i+1):
        print('X',end=' ')
    print(s*" ",end='\n')

     X
    X X
   X X X
  X X X X

In [45]:
#diamond shape
for i in range(4):
    s=4-i
    print(s*" ",end=" ")
    for j in range(i+1):
        print('X',end=" ")
    print(s*" ",end='\n')    
    if(i==3):
        for k in range(i-1,-1,-1):
            s=4-k
            print(s*" ",end=" ")
            for l in range(k+1):
                print('X',end=' ')
            print(s*" ",end='\n')

     X
    X X
   X X X
  X X X X
   X X X
    X X
     X

In [52]:
#Optimised code
for i in range(3):
    print((4-i)*" ",(2*i+1)*'X')
for j in range(3,-1,-1):
    print((4-j)*" ",(2*j+1)*'X')

     X
    XXX
   XXXXX
  XXXXXXX
   XXXXX
    XXX
     X

In [25]:
s='Ineuron'
for i in range(len(s)-1,-1,-1):#Start from last go till first
    print(s[i])

n
o
r
u
e
n
I

In [26]:
s='aaaabbbcccdf'
s1=set(s)
s1

{'a', 'b', 'c', 'd', 'f'}

In [27]:
for i in s1:
    print(i,' occured ',str(s.count(i)),' many times')

f  occured  1  many times
a  occured  4  many times
d  occured  1  many times
b  occured  3  many times
c  occured  3  many times

In [28]:
for k,v in d.items():
    print(k,end=' ')
    print(v)

name Prasanna
age 23
Education B.E

In [29]:
d.get('age')#key

'23'

In [36]:
d.update([('address1','#05, Hosalli'),('address2','Sirsi')])#it is passed as key value pair

In [35]:
d

{'name': 'Prasanna',
 'age': '23',
 'Education': 'B.E',
 'address1': '#05, Hosalli',
 'address2': 'Sirsi'}